<app-navbarmain></app-navbarmain>
<div class=row>
  <div class="col-6">
 <div class="busimg  " style="display: flex; flex-direction: column; align-items: center;">
    <img src="../../assets/bookingpage/Capture.PNG" alt="#" height="500px" width="250px"/>
 <div class="bus seat2-2 border-0 p-0">
  <div class="seat-row-1">
    <ol class="seats">
      <li class="seat">
        <input role="input-passenger-seat" name="passengers[1][seat]" id="seat-radio-1-1" value="1" required="" type="radio">
        <label for="seat-radio-1-1">
                                                                            1                                                                        </label>
      </li>
      <li class="seat">
        <input role="input-passenger-seat" name="passengers[1][seat]" id="seat-radio-1-2" value="2" required="" type="radio">
        <label for="seat-radio-1-2">
                                                                            2                                                                        </label>
      </li>
      <li class="seat">
        <input role="input-passenger-seat" name="passengers[1][seat]" id="seat-radio-1-3" value="3" required="" type="radio">
        <label for="seat-radio-1-3">
                                                                            3                                                                        </label>
      </li>
      <li class="seat">
        <input role="input-passenger-seat" name="passengers[1][seat]" id="seat-radio-1-4" value="4" required="" type="radio">
        <label for="seat-radio-1-4">
                                                                            4                                                                        </label>
      </li>
      <li class="seat">
        <input role="input-passenger-seat" name="passengers[1][seat]" id="seat-radio-1-5" value="5" required="" type="radio">
        <label for="seat-radio-1-5">
                                                                            5                                                                        </label>
      </li>
    </ol>
  </div>
  <div class="seat-row-2">
    <ol class="seats">
      <li class="seat">
        <input role="input-passenger-seat" name="passengers[1][seat]" id="seat-radio-1-6" value="6" required="" type="radio">
        <label for="seat-radio-1-6">
                                                                            6                                                                        </label>
      </li>
      <li class="seat">
        <input role="input-passenger-seat" name="passengers[1][seat]" id="seat-radio-1-7" value="7" required="" type="radio">
        <label for="seat-radio-1-7">
                                                                            7                                                                        </label>
      </li>
      <li class="seat">
        <input role="input-passenger-seat" name="passengers[1][seat]" id="seat-radio-1-8" value="8" required="" type="radio">
        <label for="seat-radio-1-8">
                                                                            8                                                                        </label>
      </li>
      <li class="seat">
        <input role="input-passenger-seat" name="passengers[1][seat]" id="seat-radio-1-9" value="9" required="" type="radio">
        <label for="seat-radio-1-9">
                                                                            9                                                                        </label>
      </li>
      <li class="seat">
        <input role="input-passenger-seat" name="passengers[1][seat]" id="seat-radio-1-10" value="10" required="" type="radio">
        <label for="seat-radio-1-10">
                                                                            10                                                                        </label>
      </li>
    </ol>
  </div>
  <div class="seat-row-3">
    <ol class="seats">
      <li class="seat">
        <input role="input-passenger-seat" name="passengers[1][seat]" id="seat-radio-1-11" value="11" required="" type="radio">
        <label for="seat-radio-1-11">
                                                                            11                                                                        </label>
      </li>
      <li class="seat">
        <input role="input-passenger-seat" name="passengers[1][seat]" id="seat-radio-1-12" value="12" required="" type="radio">
        <label for="seat-radio-1-12">
                                                                            12                                                                        </label>
      </li>
      <li class="seat">
        <input role="input-passenger-seat" name="passengers[1][seat]" id="seat-radio-1-13" value="13" required="" type="radio">
        <label for="seat-radio-1-13">
                                                                            13                                                                        </label>
      </li>
      <li class="seat">
        <input role="input-passenger-seat" name="passengers[1][seat]" id="seat-radio-1-14" value="14" required="" type="radio">
        <label for="seat-radio-1-14">
                                                                            14                                                                        </label>
      </li>
      <li class="seat">
        <input role="input-passenger-seat" name="passengers[1][seat]" id="seat-radio-1-15" value="15" required="" type="radio">
        <label for="seat-radio-1-15">
                                                                            15                                                                        </label>
      </li>
    </ol>
  </div>
  <div class="seat-row-4">
    <ol class="seats">
      <li class="seat">
        <input role="input-passenger-seat" name="passengers[1][seat]" id="seat-radio-1-16" value="16" required="" type="radio" disabled>
        <label for="seat-radio-1-16">
                                                                            16                                                                        </label>
      </li>
      <li class="seat">
        <input role="input-passenger-seat" name="passengers[1][seat]" id="seat-radio-1-17" value="17" required="" type="radio">
        <label for="seat-radio-1-17">
                                                                            17                                                                        </label>
      </li>
      <li class="seat">
        <input role="input-passenger-seat" name="passengers[1][seat]" id="seat-radio-1-18" value="18" required="" type="radio">
        <label for="seat-radio-1-18">
                                                                            18                                                                        </label>
      </li>
      <li class="seat">
        <input role="input-passenger-seat" name="passengers[1][seat]" id="seat-radio-1-19" value="19" required="" type="radio">
        <label for="seat-radio-1-19">
                                                                            19                                                                        </label>
      </li>
      <li class="seat">
        <input role="input-passenger-seat" name="passengers[1][seat]" id="seat-radio-1-20" value="20" required="" type="radio">
        <label for="seat-radio-1-20">
                                                                            20                                                                        </label>
      </li>
    </ol>
  </div>
  <div class="seat-row-5">
    <ol class="seats">
      <li class="seat">
        <input role="input-passenger-seat" name="passengers[1][seat]" id="seat-radio-1-21" value="21" required="" type="radio">
        <label for="seat-radio-1-21">
                                                                            21                                                                        </label>
      </li>
      <li class="seat">
        <input role="input-passenger-seat" name="passengers[1][seat]" id="seat-radio-1-22" value="22" required="" type="radio">
        <label for="seat-radio-1-22">
                                                                            22                                                                        </label>
      </li>
      <li class="seat">
        <input role="input-passenger-seat" name="passengers[1][seat]" id="seat-radio-1-23" value="23" required="" type="radio">
        <label for="seat-radio-1-23">
                                                                            23                                                                        </label>
      </li>
      <li class="seat">
        <input role="input-passenger-seat" name="passengers[1][seat]" id="seat-radio-1-24" value="24" required="" type="radio">
        <label for="seat-radio-1-24">
                                                                            24                                                                        </label>
      </li>
      <li class="seat">
        <input role="input-passenger-seat" name="passengers[1][seat]" id="seat-radio-1-25" value="25" required="" type="radio">
        <label for="seat-radio-1-25">
                                                                            25                                                                        </label>
      </li>
    </ol>
  </div>
  <div class="seat-row-5">
    <ol class="seats">
      <li class="seat">
        <input role="input-passenger-seat" name="passengers[1][seat]" id="seat-radio-1-26" value="26" required="" type="radio">
        <label for="seat-radio-1-26">
                                                                            26                                                                        </label>
      </li>
      <li class="seat">
        <input role="input-passenger-seat" name="passengers[1][seat]" id="seat-radio-1-27" value="27" required="" type="radio">
        <label for="seat-radio-1-27">
                                                                            27                                                                        </label>
      </li>
      <li class="seat">
        <input role="input-passenger-seat" name="passengers[1][seat]" id="seat-radio-1-28" value="28" required="" type="radio">
        <label for="seat-radio-1-28">
                                                                            28                                                                        </label>
      </li>
      <li class="seat">
        <input role="input-passenger-seat" name="passengers[1][seat]" id="seat-radio-1-29" value="29" required="" type="radio">
        <label for="seat-radio-1-29">
                                                                            29                                                                        </label>
      </li>
      <li class="seat">
        <input role="input-passenger-seat" name="passengers[1][seat]" id="seat-radio-1-30" value="30" required="" type="radio">
        <label for="seat-radio-1-30">
                                                                            30                                                                        </label>
      </li>
    </ol>
  </div>
  <div class="seat-row-6">
    <ol class="seats">
      <li class="seat">
        <input role="input-passenger-seat" name="passengers[1][seat]" id="seat-radio-1-31" value="31" required="" type="radio">
        <label for="seat-radio-1-31">
                                                                            31                                                                        </label>
      </li>
      <li class="seat">
        <input role="input-passenger-seat" name="passengers[1][seat]" id="seat-radio-1-32" value="32" required="" type="radio">
        <label for="seat-radio-1-32">
                                                                            32                                                                        </label>
      </li>
      <li class="seat">
        <input role="input-passenger-seat" name="passengers[1][seat]" id="seat-radio-1-33" value="33" required="" type="radio">
        <label for="seat-radio-1-33">
                                                                            33                                                                        </label>
      </li>
      <li class="seat">
        <input role="input-passenger-seat" name="passengers[1][seat]" id="seat-radio-1-34" value="34" required="" type="radio">
        <label for="seat-radio-1-34">
                                                                            34                                                                       </label>
      </li>
      <li class="seat">
        <input role="input-passenger-seat" name="passengers[1][seat]" id="seat-radio-1-35" value="35" required="" type="radio">
        <label for="seat-radio-1-35">
                                                                            35                                                                       </label>
      </li>
    </ol>
  </div>
  <div class="seat-row-6">
    <ol class="seats">
      <li class="seat">
        <input role="input-passenger-seat" name="passengers[1][seat]" id="seat-radio-1-36" value="36" required="" type="radio">
        <label for="seat-radio-1-36">
                                                                            36                                                                        </label>
      </li>
      <li class="seat">
        <input role="input-passenger-seat" name="passengers[1][seat]" id="seat-radio-1-37" value="37" required="" type="radio">
        <label for="seat-radio-1-37">
                                                                            37                                                                        </label>
      </li>
      <li class="seat">
        <input role="input-passenger-seat" name="passengers[1][seat]" id="seat-radio-1-38" value="38" required="" type="radio">
        <label for="seat-radio-1-38">
                                                                            38                                                                        </label>
      </li>
      <li class="seat">
        <input role="input-passenger-seat" name="passengers[1][seat]" id="seat-radio-1-39" value="39" required="" type="radio">
        <label for="seat-radio-1-39">
                                                                            39                                                                        </label>
      </li>
      <li class="seat">
        <input role="input-passenger-seat" name="passengers[1][seat]" id="seat-radio-1-40" value="40" required="" type="radio">
        <label for="seat-radio-1-40">
                                                                            40                                                                        </label>
      </li>
    </ol>
  </div>
</div>
  
</div>
</div> 
<div class="col-6">
  <div class="p1">
    hai agk
  </div>
</div>
</div>
<br>
<br>
<br>
<!-- <div class="text-left mt-2">
  <button class="btn btn-primary btn-xs mb-2">Available</button><BR>
  <button class="btn btn-success btn-xs mb-2">Choosen</button><BR>
  <button class="btn btn-danger btn-xs mb-2">Booked</button>
</div> -->

