<router-outlet></router-outlet>
<!-- <app-home></app-home> -->
 <!-- <app-login></app-login>  -->
<!-- <app-signup></app-signup> -->


<!-- <app-userseach></app-userseach> -->

<!-- <app-busseat></app-busseat>  -->
<!-- <app-card></app-card> -->
<!-- <app-bookticketpage></app-bookticketpage> -->


<!-- <app-seatavailability1></app-seatavailability1> -->
<!-- <app-seats></app-seats> -->
<!-- <app-passenger></app-passenger> -->
<!-- <app-ticket></app-ticket> -->



<!-- admin -->
<!-- <app-addbus></app-addbus> -->
<!-- <app-adminhomepage></app-adminhomepage> -->
<!-- <app-adminpage></app-adminpage> -->