<!-- <head>
  <meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<title>Sign Up Page</title>
<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css ">
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
</head>
<div class="container-fluid">
  <div class="login-container">
  <h1 class="text-center">SignUp</h1>
  <div class="form-group">
    <div class="input-group">
        <span class="input-group-text">
          <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-person-square" viewBox="0 0 16 16">
            <path d="M11 6a3 3 0 1 1-6 0 3 3 0 0 1 6 0z"/>
            <path d="M2 0a2 2 0 0 0-2 2v12a2 2 0 0 0 2 2h12a2 2 0 0 0 2-2V2a2 2 0 0 0-2-2H2zm12 1a1 1 0 0 1 1 1v12a1 1 0 0 1-1 1v-1c0-1-1-4-6-4s-6 3-6 4v1a1 1 0 0 1-1-1V2a1 1 0 0 1 1-1h12z"/>
          </svg>
        </span>
      <input type="text" placeholder="Name" required [(ngModel)]="name">
      </div>
      </div>
      <div class="form-group">
        <div class="input-group">
            <span class="input-group-text">
                <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-envelope-fill" viewBox="0 0 16 16">
                    <path d="M.05 3.555A2 2 0 0 1 2 2h12a2 2 0 0 1 1.95 1.555L8 8.414.05 3.555ZM0 4.697v7.104l5.803-3.558L0 4.697ZM6.761 8.83l-6.57 4.027A2 2 0 0 0 2 14h12a2 2 0 0 0 1.808-1.144l-6.57-4.027L8 9.586l-1.239-.757Zm3.436-.586L16 11.801V4.697l-5.803 3.546Z"/>
                  </svg>
                  </span>
      <input type="email" placeholder="Email" required [(ngModel)]="email">
      </div>
      </div>
      <div class="form-group">
        <div class="input-group">
            <span class="input-group-text">
                <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-telephone-plus-fill" viewBox="0 0 16 16">
                    <path fill-rule="evenodd" d="M1.885.511a1.745 1.745 0 0 1 2.61.163L6.29 2.98c.329.423.445.974.315 1.494l-.547 2.19a.678.678 0 0 0 .178.643l2.457 2.457a.678.678 0 0 0 .644.178l2.189-.547a1.745 1.745 0 0 1 1.494.315l2.306 1.794c.829.645.905 1.87.163 2.611l-1.034 1.034c-.74.74-1.846 1.065-2.877.702a18.634 18.634 0 0 1-7.01-4.42 18.634 18.634 0 0 1-4.42-7.009c-.362-1.03-.037-2.137.703-2.877L1.885.511zM12.5 1a.5.5 0 0 1 .5.5V3h1.5a.5.5 0 0 1 0 1H13v1.5a.5.5 0 0 1-1 0V4h-1.5a.5.5 0 0 1 0-1H12V1.5a.5.5 0 0 1 .5-.5z"/>
                  </svg>
                  </span>
      <input type="text" placeholder="Phone" required [(ngModel)]="mobile">
      </div>
      </div>
      <div class="form-group">
        <div class="input-group">
            <span class="input-group-text">
              <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-file-lock2" viewBox="0 0 16 16">
                <path d="M8 5a1 1 0 0 1 1 1v1H7V6a1 1 0 0 1 1-1zm2 2.076V6a2 2 0 1 0-4 0v1.076c-.54.166-1 .597-1 1.224v2.4c0 .816.781 1.3 1.5 1.3h3c.719 0 1.5-.484 1.5-1.3V8.3c0-.627-.46-1.058-1-1.224z"/>
                <path d="M4 0a2 2 0 0 0-2 2v12a2 2 0 0 0 2 2h8a2 2 0 0 0 2-2V2a2 2 0 0 0-2-2H4zm0 1h8a1 1 0 0 1 1 1v12a1 1 0 0 1-1 1H4a1 1 0 0 1-1-1V2a1 1 0 0 1 1-1z"/>
              </svg>
            </span>
      <input type="password" placeholder="Password" required [(ngModel)]="password">
      </div>
      </div>
      <div class="text-center">
      <button type="submit" (click)="signup()" class="btn btn-primary">SignUp</button>
      </div>
  </div> -->

<app-navloginsignup></app-navloginsignup>

  <body>

    <div class="container">
  
      <div class="image-container">
  
        <img src="https://cdn.dribbble.com/users/1187836/screenshots/7049426/media/7b3ab8c1fff5cdb8fa3e2fcc53c18dfb.gif" alt="#" class="side-image" />
  
      </div>
  
  
  
  
      <div class="signup-container">
  
        <form>
  
          <div class="col-lg-12 col-md-8">
  
            <div class="form-group">
  
              <label for="name">Name</label>
  
              <input type="text" class="form-control" id="name" placeholder="Name" required [(ngModel)]="name">
  
            </div>
  
            <div class="form-group">
  
              <label for="email">Email</label>
  
              <input type="email" class="form-control" required id="email"placeholder="Email" required [(ngModel)]="email">
  
            </div>
  
            <div class="form-group">
  
              <label for="phone">Phone No</label>
  
              <input type="tel" class="form-control" required id="phone"  placeholder="Phone" required [(ngModel)]="mobile">
  
            </div>
  
            <div class="form-group">
  
              <label for="password">Password</label>
  
              <input type="password" class="form-control" id="password" placeholder="Password" required [(ngModel)]="password">
  
            </div>
  
            <div class="form-group">
  
              <label for="confirmPassword">Confirm Password</label>
  
              <input type="password" class="form-control" id="confirmPassword" placeholder="Confirm your password">
  
            </div>
  
            <div class="center-button">
  
              <button type="submit" class="btn btn-primary " (click)="signup()">Signup</button>
  
            </div>
  
          </div>
  
        </form>
  
      </div>
  
    </div>
  <br>
  <br>
  <div>
    <br>
  <br>
  </div>
  </body>
  <app-footer></app-footer>
  
   
  