/* body {
  font-family: 'Times New Roman', Times, serif;
  background-image: url('/assets/image/my-image7.jpg');  
  background-repeat: no-repeat;
  background-size: 0% 100vh;
  margin: 0;
  padding: 0;
}


.container {
  background-image: url('/assets/image/my-image5.jpg');
  background-repeat: no-repeat;
  background-size: 0% 100vh;
  max-width: 400px;
  margin: 0 auto;
  padding: 10%;
  background-color: #ffffff;
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
}





.form-group {
  margin-bottom: 20px;
  opacity: 0.6; 
}

.form-group label {
  display: block;
  font-weight: bold;
  margin-bottom: 5px;
}

.form-group input {
  width: 100%;
  padding: 10px;
  font-size: 16px;
  border-radius: 4px;
  border: 1px solid rgb(187, 178, 234);
}

.form-group input[type="submit"] {
  background-color: #3142df;
  color: white;
  cursor: pointer;
  padding: 10px;
  width: 100%;
  border-radius: 4px;
}

.form-group input[type="submit"]:hover {
  background-color: #ffffff;
  
}
.links {
  margin-top: 20px;
  text-align: center;
}

.links a {
  margin-right: 10px;
  text-decoration: none;
  color: rgb(121, 65, 225);
}

.links a:hover {
  color: #1e083e;
}
.label{
  color: #152777;
}
.login{
  color: #4038af;
  text-align: center;
}

.sum{
  align-items: center;
  padding-left: 40%;
}

.input {
  background-color: #6e359d;
  color: white;
  padding: 10px 20px;
  font-size: 16px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  
}

.input:hover {
  background-color: #4f1591;
}
 */



 


 /* <app-nav1></app-nav1> */


 body {

  overflow: hidden;

  background-color: rgba(0, 0, 0, 0.5);

  background-image: url(/images/bus1.jpg);

  background-size: cover;

}




body::before {

  content: "";

  position: fixed;

  top: 0;

  left: 0;

  width: 100%;

  height: 100%;

  background-color: rgba(0, 0, 0, 0.5);

  z-index: -1;

}




.container {

  display: flex;

  justify-content: center;

  align-items: center;

  border-radius: 15px;

  overflow: hidden;

  width: 400px;

  height: 400px;

  margin: 150px auto;

  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);

  background-color: rgba(0, 0, 0, 0.5);

}




h3 {

  color: white;

}




.login-container {

  padding: 10px;

}




.forgot-password {

  color: #888888;

  font-size: 14px;

  text-decoration: none;

  color: white;

}




.btn-primary {

  border-radius: 15px;

  width: 3cm;

  background-color: rgb(97, 61, 255);

}




.form-group {

  margin-top: 10px;

  width: 6cm;

  color: white;

}




.form-control {

  color: rgb(14, 13, 13);

  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;

}




.label {

  font-family: Georgia, 'Times New Roman', Times, serif;

  color: white;

}

/* <app-footer></app-footer> */