<!-- <body>
     <div class="container">
    <h2 class="login">Login</h2>
      <div class="form-group">
        
        <input type="text" placeholder="Username" [(ngModel)]="name"  required>
      </div>
      <div class="form-group">
        
        <input type="password" placeholder="Password" [(ngModel)]="password"  required>
      </div>
      <div class="sum">
        <input type="submit" value="Login" (click)="login()" class="input">
      </div>
      <div class="links">
        <a  routerLink="/signup">SignUp</a>
        <a >Forgot Password</a>
      </div>
  </div>
</body> -->





   <!-- <div class="logo">

      
   <br>
   <br>
   <br>
   <br>
   <br>

       </div>

  <div class="container">

      <div class="row justify-content-center mt-9">

         

       

          <div class="col-md-6">





              <div class="login-container mx-auto">

                  <form>

                      <img src="../../assets/image/bus.jpg" alt="Bus Ticket Booking System" class="img-fluid mb-4">

                      <div class="form-group">

                          <label for="username"><i class="fas fa-user"></i> Username</label>

                          <input type="text" class="form-control" id="username" placeholder="Username" [(ngModel)]="name"  required>

                      </div>

                      <div class="form-group">

                          <label for="password"><i class="fas fa-lock"></i> Password</label>

                          <input type="password" class="form-control" id="password"placeholder="Password" [(ngModel)]="password"  required>

                      </div>

                      

                      <div class="center-button">

                          <button type="submit" class="btn btn-primary"value="Login" (click)="login()" >Login</button>

                      </div>
                      <div class="links">
                        <a routerLink="/signup">SignUp</a>
                          
                        <a >Forgot Password</a>
                      </div>

                  </form>

              </div>

          </div>

      </div>

  </div> -->









<app-navloginsignup></app-navloginsignup>




 






  <div class="container">

    <div class="row justify">

      <div class="col-md-6">

        <h3 class="text-center">Login</h3>

        <div class="login-container">

          <form>

            <div class="form-group">

              <label for="username"><i class="fas fa-user"></i> Username</label>

              <input type="text" class="form-control" id="username"  placeholder="Username" [(ngModel)]="name"  required>

            </div>

            <div class="form-group">

              <label for="password"><i class="fas fa-lock"></i> Password</label>

              <input type="password" class="form-control" id="password"placeholder="Password" [(ngModel)]="password"  required>

            </div>

            <div class="form-group"><strong>Don't have an Account?</strong>

              <a routerLink="/signup" class="forgot-password"> Sign Up </a>

            </div>

            <div class="text-center">

              <button type="submit" class="btn btn-primary" value="Login" (click)="login()">Login</button>

            </div>

          </form>

        </div>

      </div>

    </div>

  </div>
  <app-footer></app-footer>






