<!--login before-->
<div class="tbl">
    <br>
    <br>
   <!-- <div style="align-items: center; margin-top: 25vh;"><h1 style="font-family: 'Roboto', sans-serif;; font-style: italic;font: optional; font-size:xx-large;color: rgb(243, 193, 175);"> Welcome to the Go Bus and Book Your Ticket Now</h1></div>  -->
    
     
    <div class="container">
  
      <div class="input-group">
  
        <select class="form-control" id="from">
  
          <option value="">From</option>
  
          <option value="location1">Kochi</option>
  
          <option value="location2">Kollam</option>
  
          <option value="location3">Trivandrum</option>
  
        </select>
  
      </div>
  
      <div class="input-group">
  
        <select class="form-control" id="to">
  
          <option value="">To</option>
  
          <option value="location1">Kottayam</option>
  
          <option value="location2">Palakkad</option>
  
          <option value="location3">Malappuram</option>
  
        </select>
  
      </div>
  
      <div class="input-group">
  
        <input type="date" class="form-control">
  
      </div>
  
      <button class="btn btn-primary search-button" routerLink="/usersearch">Search</button>
  
    </div>
  
  
  
  
    <!-- <div class="container2">
  
      <h2>Bus Schedule</h2>
  
      <table class="table table-striped">
  
        <thead>
  
          <tr>
  
            <th>Date</th>
  
            <th>Departure Time</th>
  
            <th>Arrival Time</th>
  
            <th>Bus No</th>
  
            <th>Bus Name</th>
  
            <th>Bus Type</th>
  
            <th>Total Seats</th>
  
            <th>Fare</th>
  
            <th>Action</th>
  
          </tr>
  
        </thead>
  
         <tbody>
  
          <tr>
  
            <td>2023-06-20</td>
  
            <td>09:00 AM</td>
  
            <td>12:00 PM</td>
  
            <td>ABC123</td>
  
            <td>Red Bus</td>
  
            <td>AC</td>
  
            <td>40</td>
  
            <td>20 Rs</td>
  
            <td>
  
              <button class="btn btn-primary view-seats-button">View Seats</button>
  
            </td>
  
          </tr>
  
         
  
        </tbody> 
  
      </table>
  
    </div> -->
  </div>